.vs/Project #Filter/FileContentIndex/25840e46-96f2-449d-9530-5c572969e3d9.vsidx
.vs/Project #Filter/FileContentIndex/314b18ff-fec2-4a9e-b9ca-74cf655400a8.vsidx
.vs/Project #Filter/FileContentIndex/534df4a6-8f12-453a-8c96-ebdd03e51205.vsidx
.vs/Project \#Filter/FileContentIndex/e9b15f38-496d-4c78-8d23-5663e5dd626e.vsidx
*.vsidx
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.AssemblyInfoInputs.cache
.vs/Project \#Filter/DesignTimeBuild/.dtbcache.v2
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.AssemblyInfo.cs
.vs/Project \#Filter/v17/.suo
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.AssemblyInfoInputs.cache
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.GeneratedMSBuildEditorConfig.editorconfig
.vs/Project \#Filter/v17/.suo
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.assets.cache
Project \#Filter/obj/project.nuget.cache
Project \#Filter/obj/project.assets.json
Project \#Filter/obj/Project \#Filter.csproj.nuget.g.props
Project \#Filter/obj/Project \#Filter.csproj.nuget.dgspec.json
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.GeneratedMSBuildEditorConfig.editorconfig
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.designer.runtimeconfig.json
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.designer.deps.json
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.csproj.AssemblyReference.cache
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.assets.cache
.vs/ProjectEvaluation/project \#filter.projects.v7.bin
.vs/ProjectEvaluation/project \#filter.metadata.v7.bin
.vs/Project \#Filter/v17/.suo
.vs/Project \#Filter/v17/.futdcache.v2
.vs/Project \#Filter/DesignTimeBuild/.dtbcache.v2
Project \#Filter/obj/project.nuget.cache
Project \#Filter/obj/project.nuget.cache
Project \#Filter/obj/project.assets.json
Project \#Filter/obj/Project \#Filter.csproj.nuget.g.props
Project \#Filter/obj/Project \#Filter.csproj.nuget.dgspec.json
*.v2
Project \#Filter/obj/project.nuget.cache
Project \#Filter/obj/project.assets.json
Project \#Filter/obj/Project \#Filter.csproj.nuget.g.props
Project \#Filter/obj/Project \#Filter.csproj.nuget.dgspec.json
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.GeneratedMSBuildEditorConfig.editorconfig
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.assets.cache
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.AssemblyInfoInputs.cache
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.AssemblyInfo.cs
.vs/ProjectEvaluation/project \#filter.projects.v7.bin
.vs/ProjectEvaluation/project \#filter.metadata.v7.bin
.vs/Project \#Filter/v17/.suo
.vs/Project \#Filter/DesignTimeBuild/.dtbcache.v2
